name: Update RASD TV M3U
on:
  schedule:
    - cron: "0 */12 * * *"  # cada 12 horas
  workflow_dispatch:        # ejecutar manualmente
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Run update script
        run: node update.js

      - name: Commit changes
        run: |
          git config user.name "GitHub Actions"
          git config user.email "actions@github.com"
          git add rasdtv.m3u
          git commit -m "Auto update M3U" || echo "Sin cambios"
          git push
